body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.begin{
    display: flex;
    justify-content: center;
    
}
    

#counter {
    font-size: 2em;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
}
.buttons {
    margin-top: 30px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 25px;
}

