.container{
    background-color: rgb(243, 199, 22);
    height: 250px;
    width: 500px;
    padding: 15px;
}

.h3{
    align-items: center;
    font-size: 50px;
}

body{
    background-color: rgb(7, 146, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}


.textarea{
    display: flex;
    width: 40px;
    height: 70px;
    padding: 13px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 12px;
}